body {
  background-color: #EAF6F6;
}

hr {
  background-color: inherit;
  border-style: none;
  border-top-style: dotted;
  border-width: thick;
  border-color: grey;
  width: 3%
}

h1, h3 {
  color: #66BFBF;

}

.link{
  color: red;
  transition: 0.1s;
}

.link:hover{
  font-size: 20px;
  background-color: yellow;
}

.rating{
  cursor: pointer;
}

.r1{
  transition: 0.1s;
}

.r1:hover{
  font-size: 30px;

}

.r2{
  transition: 0.1s;
}

.r2:hover{
  font-size: 30px;
}

.r3{
  transition: 0.1s;
}

.r3:hover{
  font-size: 30px;
}

.r4{
  transition: 0.1s;
}

.r4:hover{
  font-size: 30px;
}

.r5{
  transition: 0.1s;
}

.r5:hover{
  font-size: 30px;
}

.introduction{
  padding-left: 25%;
  padding-top: 2%;
}

.education{
  padding-left: 37%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.education-heading{
  padding-left: 14%
}

.my-skills{
  padding-left: 42%;
  padding-bottom: 2%;
}

.my-skills-heading{
  padding-left: 9.5%;
  padding-top: 3%;
}

.links{
  padding-left: 46%;
  padding-top: 1%;
  padding-bottom: 2.5%;
}

.links-heading{
  padding-left: 4.5%;
}

.rating-section{
  padding-left: 45.5%;
  padding-top: 1%;
  margin-bottom: 2%;
}
